.body{
background-image: url(./background.jpeg);
    /* background-color: burlywood; */
    text-align: left;
    justify-content: center;
    display: contents;
    padding-left: 30px;
    
    
    }
    .links{
        display: flex;
        list-style: none;
        text-align: center;
        background-color: brown;
        padding-left: 300px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 4px;
    }
    li{
        padding-left: 20px;
        color: blue;
        font-size: 20px;
        text-align: right;
        text-align: center;
        img{
            display: block;
            padding-right: 100%;
        }
        .sublinks{
            padding-left: 20px;
            text-align: right;
            color: black;

        }
    